@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: "Aaux";
    src: url(../../../assets/fonts/AauxPro-Medium_0.ttf);
}

@font-face {
    font-family: "Playlist";
    src: url(../../../assets/fonts/Playlist\ Script.otf);
}

@font-face {
    font-family: "Playlist-caps";
    src: url(../../../assets/fonts/Playlist\ Caps.otf);
}

@media screen and (min-width: 920px){

    main{
        background-image: url(../../../assets/images/fundo02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    section{
        width: 60%;
        margin: auto;
    }
}